In [6]:
import pandas as pd

df = pd.read_csv("../6.Data/kaggle_b2_fraud_train.csv")

In [7]:
df

,customer_id,account_id,age,tenure_months,annual_income_eur,credit_score,num_transactions_30d,avg_amount_30d_eur,max_amount_30d_eur,days_since_last_login,...,mostly_missing_col,manual_review_result,post_event_status_code,occupation,device_type,merchant_category,signup_date,secondary_email,chargeback_resolution_time_days,legacy_partner_score
0,CUST_7O7B4OC888,ACC_TACKQKWHFB2I,18,42,12604.31,715.0,18,41.22,253.57,14.2,...,NaN,approve,0,freelancer,phone,digital_services,2025-01-06,NaN,11.3,NaN
1,CUST_G5D9HCKEYD,ACC_EN7OC1DLMQUQ,25,11,36133.60,675.0,19,65.60,523.45,1.5,...,NaN,approve,0,employee,phone,gaming,2025-08-04,NaN,3.0,NaN
2,CUST_5YHBCQWI3O,ACC_J38B0G2XTCUS,23,11,29528.32,667.0,28,NaN,258.13,31.5,...,NaN,approve,0,retired,desktop,groceries,2024-07-25,NaN,2.1,NaN
3,CUST_RF6DJEUOOU,ACC_6F99QLXXUP0X,18,6,28247.85,630.0,18,198.03,316.96,5.0,...,NaN,review,0,public_sector,desktop,sports,2025-11-26,NaN,1.2,NaN
4,CUST_WNVVULGQE7,ACC_91BZO39DAE2T,30,48,13978.11,626.0,21,127.85,851.10,37.2,...,NaN,approve,0,employee,phone,electronics,2024-06-09,NaN,4.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159995,CUST_6ZWFTYWEBR,ACC_ID6D8A2IU58B,43,8,27232.65,746.0,21,26.99,NaN,22.2,...,NaN,approve,0,self_employed,phone,home,2025-04-23,NaN,13.3,NaN
159996,CUST_3AZ35H12AZ,ACC_X8HR4Y0562XN,47,26,26053.25,682.0,19,73.48,375.50,10.8,...,NaN,review,0,self_employed,phone,gaming,2024-05-15,NaN,3.5,NaN
159997,CUST_6ARIEK0OK1,ACC_M0LUDYM5HI1G,26,99,21508.00,711.0,17,48.62,339.70,6.9,...,NaN,approve,0,employee,phone,sports,2025-08-12,NaN,0.0,NaN
159998,CUST_5MK0KB6RME,ACC_NIF8XFWOQOQZ,19,3,43030.31,NaN,18,63.93,264.03,6.9,...,NaN,approve,0,freelancer,phone,travel,2024-02-03,NaN,5.7,NaN
159999,CUST_NHYNZW3TDC,ACC_WKA8K1A9A54P,37,18,58129.83,772.0,25,NaN,311.31,0.9,...,NaN,review,0,employee,phone,groceries,2024-07-09,NaN,2.2,NaN